<h1><%= @pet.name %></h1>
<p>Species: <%= @pet.species %></p>
<p>Address: <%= @pet.address %></p>
<p>Found on: <%= @pet.found_on%></p>

<%= link_to "Edit Pet", edit_pet_path(@pet) %>
<%= link_to "Remove Pet", pet_path(@pet), data: {"turbo-method": "delete"} %>
